@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  overflow-x: hidden;
  position: relative;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  border: none;
  -moz-appearance: textfield;
}

input[type=number]:focus {
  outline: none;
}

input[type=tel] {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=text] {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=tel]:focus {
  outline: none;
}

input[type=text]:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  resize: none;
}

select {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px;
}

button:focus {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

div {
  -webkit-tap-highlight-color: transparent;
}

div:focus {
  border: none;
  outline: none;
}

input {
  border: none;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 15px;
  max-width: 1530px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    padding: 0px 50px;
  }
}

@media (min-width: 1600px) {
  .container {
    padding: 0px;
  }
}

.header {
  width: 100%;
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #fff;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding-bottom: 10px;
  z-index: 5;
}

.header_content_mobile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.header_content_mobile_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_content_mobile_logo img {
  width: 68px;
}

.header_content_mobile_logo_thin {
  font-weight: 400;
  font-size: 6px;
  line-height: 7px;
  margin-top: 2px;
  text-align: center;
  background: -webkit-gradient(linear, right top, left top, from(#62FFEB), to(#60C9C6));
  background: linear-gradient(to left, #62FFEB, #60C9C6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header_content_mobile_logo_bold {
  font-weight: 700;
  font-size: 6px;
  line-height: 7px;
  text-transform: uppercase;
  margin-top: 2px;
  text-align: center;
  background: -webkit-gradient(linear, right top, left top, from(#62FFEB), to(#60C9C6));
  background: linear-gradient(to left, #62FFEB, #60C9C6);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.header_content_mobile_mid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_content_mobile_mid_mob {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  color: #063124;
}

.header_content_mobile_mid_list {
  margin-top: 12px;
}

.header_content_mobile_mid_list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header_content_mobile_mid_list ul li {
  margin-left: 15px;
}

.header_content_mobile_mid_list ul li:first-child {
  margin-left: 0px;
}

.header_content_mobile_mid_list ul li a img {
  width: 20px;
}

.header_content_mobile_mid_list ul li button img {
  width: 20px;
}

.header_content_mobile_burger {
  position: relative;
  width: 24px;
  height: 17px;
  margin-bottom: 4px;
}

.header_content_mobile_burger span {
  position: absolute;
  width: 100%;
  height: 3px;
  left: 0px;
  border-radius: 1px;
}

.header_content_mobile_burger span:first-child {
  top: 0px;
  background: linear-gradient(259.78deg, #62FFEB 15.91%, #60C9C6 84.73%);
}

.header_content_mobile_burger span:nth-child(2) {
  top: 7px;
  background: linear-gradient(259.78deg, #62FFEB 15.91%, #60C9C6 84.73%);
}

.header_content_mobile_burger span:last-child {
  bottom: 0px;
  background: linear-gradient(259.78deg, #62FFEB 15.91%, #60C9C6 84.73%);
}

.header_content_desktop {
  display: none;
}

@media (min-width: 768px) {
  .header_content_mobile_mid {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .header_content_mobile_mid_list {
    margin-top: 0px;
    margin-left: 20px;
  }
}

@media (min-width: 1200px) {
  .header_content_mobile {
    display: none;
  }
  .header_content_desktop {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_content_desktop_logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    min-width: 196px;
  }
  .header_content_desktop_logo img {
    width: 177px;
  }
  .header_content_desktop_logo_thin {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    background: -webkit-gradient(linear, right top, left top, from(#62FFEB), to(#60C9C6));
    background: linear-gradient(to left, #62FFEB, #60C9C6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .header_content_desktop_logo_bold {
    margin-top: 5px;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;
    background: -webkit-gradient(linear, right top, left top, from(#62FFEB), to(#60C9C6));
    background: linear-gradient(to left, #62FFEB, #60C9C6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .header_content_desktop_other {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-left: 36px;
    width: 100%;
  }
  .header_content_desktop_other_top {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_content_desktop_other_top_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_content_desktop_other_top_info span {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #063124;
    margin-right: 22px;
  }
  .header_content_desktop_other_top_info a {
    font-weight: 700;
    font-size: 21px;
    line-height: 24px;
    color: #063124;
  }
  .header_content_desktop_other_top_social ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_content_desktop_other_top_social ul li {
    margin-left: 30px;
  }
  .header_content_desktop_other_top_social ul li:first-child {
    margin-left: 0px;
  }
  .header_content_desktop_other_top_social ul li a img {
    width: 40px;
  }
  .header_content_desktop_other_top_tel {
    font-weight: 700;
    font-size: 26px;
    line-height: 32px;
    color: #063124;
  }
  .header_content_desktop_other_bottom {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 23px;
  }
  .header_content_desktop_other_bottom ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header_content_desktop_other_bottom ul li {
    margin-left: 30px;
  }
  .header_content_desktop_other_bottom ul li:first-child {
    margin-left: 0px;
  }
  .header_content_desktop_other_bottom ul li a {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    position: relative;
    color: #063124;
  }
  .header_content_desktop_other_bottom ul li a:after {
    display: none;
    content: "";
    width: 58px;
    height: 2px;
    position: absolute;
    left: -13px;
    bottom: -6px;
    background: linear-gradient(259.78deg, #62FFEB 15.91%, #60C9C6 84.73%);
    border-radius: 1px;
  }
  .header_content_desktop_other_bottom ul li a.active {
    background: -webkit-gradient(linear, right top, left top, from(#62FFEB), to(#60C9C6));
    background: linear-gradient(to left, #62FFEB, #60C9C6);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .header_content_desktop_other_bottom ul li a.active:after {
    display: block;
  }
  .header_content_desktop_other_bottom button {
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: #063124;
    position: relative;
  }
  .header_content_desktop_other_bottom button::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: -5px;
    width: 100%;
    height: 2px;
    background-color: #063124;
    border-radius: 1px;
  }
}

@media (min-width: 1600px) {
  .header_content_desktop_other_top_info span {
    font-size: 18px;
    line-height: 21px;
    margin-right: 44px;
  }
  .header_content_desktop_other_top_info a {
    font-size: 24px;
    line-height: 28px;
  }
  .header_content_desktop_other_top_social ul li {
    margin-left: 60px;
  }
  .header_content_desktop_other_top_social ul li a img {
    width: auto;
  }
  .header_content_desktop_other_top_tel {
    font-size: 36px;
    line-height: 42px;
  }
  .header_content_desktop_other_bottom ul li {
    margin-left: 60px;
  }
  .header_content_desktop_other_bottom ul li a {
    font-size: 24px;
    line-height: 28px;
  }
  .header_content_desktop_other_bottom button {
    font-size: 24px;
    line-height: 28px;
  }
}

.main {
  position: relative;
  margin-top: 100px;
}

.main_block_info h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-align: center;
  color: #063124;
}

.main_block_info_text {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #063124;
  margin-top: 15px;
}

.main_block_info_list_feature {
  margin-top: 30px;
  background: #F8F8F8;
  border-radius: 10px;
}

.main_block_info_list_feature_title {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: linear-gradient(93.25deg, #E91E1E 0%, #D03434 99.99%, #DA3838 100%);
  border-radius: 10px;
  padding: 15px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}

.main_block_info_list_feature_title h3 {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  text-align: center;
  color: #FFFFFF;
  width: 100%;
  margin-bottom: 17px;
}

.main_block_info_list_feature_title p {
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #FFFFFF;
  margin-left: 11px;
}

.main_block_info_list_feature_title span {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  -webkit-text-decoration-line: line-through;
          text-decoration-line: line-through;
  color: #FFFFFF;
}

.main_block_info_list_feature_block_item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  position: relative;
}

.main_block_info_list_feature_block_item:after {
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1px;
  background: #5C5C5C;
}

.main_block_info_list_feature_block_item p {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #063124;
}

.main_block_info_list_feature_block_item p b {
  font-weight: 500;
}

.main_block_info_list_feature_block_item:last-child:after {
  display: none;
}

.main_block_form {
  background: linear-gradient(259.78deg, #62FFEB 15.91%, #60C9C6 84.73%);
  border-radius: 10px;
  margin-top: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 15px;
  position: relative;
}

.main_block_form_description {
  font-weight: 400;
  font-size: 14px;
  line-height: 21px;
  color: #063124;
}

.main_block_form_img {
  margin-top: 15px;
}

.main_block_form_img img {
  width: 100%;
  border-radius: 5px;
}

.main_block_form form p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main_block_form form p span {
  width: 100%;
}

.main_block_form form p span input {
  width: 100%;
  height: 62px;
  background: #FFFFFF;
  border-radius: 5px;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  color: #063124;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0px 20px;
  margin-top: 15px;
}

.main_block_form form p input[type="submit"] {
  width: 100%;
  background: linear-gradient(93.25deg, #E91E1E 0%, #D03434 99.99%, #DA3838 100%);
  border-radius: 10px;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  color: #FFFFFF;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  white-space: normal;
  padding: 15px 0px;
  margin-top: 15px;
}

@media (min-width: 1200px) {
  .main {
    margin-top: 200px;
  }
  .main_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main_block_info h2 {
    font-size: 40px;
    line-height: 60px;
  }
  .main_block_info_text {
    font-size: 24px;
    line-height: 42px;
  }
  .main_block_info_list {
    position: relative;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main_block_info_list_feature {
    width: 46%;
  }
  .main_block_info_list_feature_title {
    padding: 20px 0px;
    position: relative;
  }
  .main_block_info_list_feature_title h3 {
    font-size: 26px;
    line-height: 30px;
  }
  .main_block_info_list_feature_title span {
    position: absolute;
    left: 15%;
    bottom: 20px;
    font-size: 20px;
    line-height: 24px;
  }
  .main_block_info_list_feature_title p {
    font-size: 30px;
    line-height: 36px;
  }
  .main_block_info_list_feature_block_item p {
    font-size: 14px;
    line-height: 20px;
  }
  .main_block_info_list_feature_block_item:first-child {
    padding: 22px 15px 15px 15px;
  }
  .main_block_form {
    min-width: 390px;
    margin-left: 60px;
    padding: 20px;
  }
  .main_block_form_description {
    font-size: 18px;
    line-height: 27px;
  }
  .main_block_form_img {
    margin-top: 21px;
  }
  .main_block_form form p span input {
    margin-top: 30px;
  }
  .main_block_form form p input[type="submit"] {
    margin-top: 30px;
    font-size: 22px;
    line-height: 27px;
    padding: 10px 40px;
    cursor: pointer;
  }
}

@media (min-width: 1366px) {
  .main_block_info_list_feature_title span {
    left: 19%;
  }
}

@media (min-width: 1440px) {
  .main_block_info_list_feature_title span {
    left: 22%;
  }
}

@media (min-width: 1536px) {
  .main_block_info h2 {
    font-size: 48px;
    line-height: 72px;
  }
  .main_block_info_text {
    font-size: 24px;
    line-height: 42px;
  }
  .main_block_info_list_feature {
    width: 430px;
  }
  .main_block_info_list_feature_title h3 {
    font-size: 30px;
    line-height: 35px;
  }
  .main_block_info_list_feature_title span {
    font-size: 24px;
    line-height: 28px;
    left: 60px;
  }
  .main_block_info_list_feature_title p {
    font-size: 36px;
    line-height: 42px;
  }
  .main_block_info_list_feature_block_item p {
    font-size: 16px;
    line-height: 24px;
  }
  .main_block_form {
    width: 490px;
    min-width: 490px;
  }
}

@media (min-width: 1600px) {
  .main_block_form {
    margin-left: 88px;
  }
}
